  .imgContainer{
    float:left;
    padding: 5px;
  }

   #photo {
    height: 350px;
    width: 350px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }

   img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 0.5;
    transition: .5s;
}
    #img:hover .text{
        visibility:visible;
    }

   #text {
    color: red;
    font-size: 16px;
    padding: 16px 32px;
    position:relative;
    bottom:130px;
    left:130px;
    visibility:hidden;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}
 
